h1{
  font-size: 50px;
  color: white;
}

a{
  color: aquamarine;
  font-size: 16px;
}

body{
  background-color: black;
  font-family: verdana;
  color: white;
  text-align: center;
  font-weight: normal;
}

h2{
  font-size: 42px;
  font-style: 400;
}

p{
  font-size: 21px;
  color: grey;
}

.footer{
  color: grey;
  text-align: right;
}
